h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 200;
}

.page-header {
  h1 {
    margin: 0;
    font-size: 2em;
  }
}

p {
  line-height: 1.9em;
}

.page-header {
  margin: 0 0 20px;
}
